<ion-header>
  <ion-toolbar color="danger">
      <ion-buttons slot="start">
          <ion-back-button icon="arrow-round-back"></ion-back-button>
        </ion-buttons>
    <ion-title>{{todo.nombre}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-card>
    <img src="{{todo.foto}}" />
      <ion-card-header color="medium">
        
        <ion-card-title>{{todo.nombre}}</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        {{todo.descripcion}}. Para mayor información da click en el siguiente enlace: <ion-label (click)="openDirec(todo.sitio)">{{todo.sitio}} </ion-label>
      </ion-card-content>
    </ion-card>
    <div padding>
      <h4><b>Galería</b></h4>
  </div>
  <div class="ion-padding">
    <ion-grid>
      <ion-row>
        <ion-col *ngFor="let image of images11" size="4">
         <img src={{image}} (click)="ZoomPhoto(image)" />
        </ion-col>
      </ion-row>
    </ion-grid>
 
      </div>
    <div padding>
        <h4><b>Ubicación</b></h4>
    </div>
    <div id="mapId" style="width:100%; height:100%;"></div>



</ion-content>
