<ion-header>
  <ion-toolbar color="danger">
      <ion-buttons slot="start">
          <ion-back-button icon="arrow-round-back"></ion-back-button>
        </ion-buttons>
    <ion-title>
      Coyoacán
    </ion-title>
  </ion-toolbar>
  <ion-toolbar color="danger">
    <ion-searchbar placeholder="Buscar sitio..." animated (ionChange)="buscarSitio($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list >
    <ion-item-sliding *ngFor="let todo of todos| filtro:textoBuscar">
      <ion-item lines="inset" button [routerLink]="['/coyoacandetails',todo.id]">
        <ion-thumbnail slot="start">
          <img src="{{todo.foto}}">
        </ion-thumbnail>
        <ion-label>
         
       <h3> {{todo.nombre}}</h3>
       <p>{{todo.icono}}</p>
        </ion-label>
      </ion-item>

    </ion-item-sliding>
  </ion-list>
  
</ion-content>
