ion-slide{
    display:block;
}
ion-footer{
    height: 42px;
}

.slide-img-padding{
//padding:40px;

}

h3{
    font-size:30px;
    font-weight:lighter;
    margin-bottom: 60px;
}

.new-background-color {
    --background: #f70000c2;
  }
  .colortexto{
      color:white;
  }

  